.abouthead{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    background-color: #fbf4ef;
    display: block;
    align-items: center;
}
.headerwords{
    background-color: #fbf4ef;
    width: 100%;
    max-width: 1200px;
    text-align: center;
    /* margin-left: 32px; */
    padding-top: 100px;
}
h1{
    font-size: 40px;
    color: rgb(202, 130, 130);
}
.en{
    font-family:"Arial";
}
.headfirst{
    font-size: 20px;
    color: rgb(202, 130, 130);
    margin: 10px 0;
}
.talktoyou{
    color:#6d6c6c;
    margin: 30px 15px;
    font-size: 18px;
    line-height: 1.5;
}

.aboutimg img{
    width: 100%;
}

section{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    background-color: #fbf4ef;
}
.section2{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    background-color: #fbf4ef;
}
section .title{
    margin: 30px;
}

h2 {
    border-bottom: 5px solid #f5b5bb;
    font-size: 20px;
    padding-bottom: 5px;
    margin: 30px 0;
    font-family: 'Microsoft JhengHei';
    text-align: center;
    display: inline-block;

}
.title_words{
    padding: 5px 0;
    font-size: 16px;
    line-height: 1.5;
    color: #6d6c6c;
}
.news{
    display: block;
    margin: 0 50px;
    align-items: center;
}

.news .news-pic img{
    width: 100%;
    border-radius: 5px;
}
/* .news-pic {
    position: relative;
}
.news-pic .news-item img{
    position: absolute;
    top: 60px;
    left: 50px;
    z-index: 4;
    width: 300px;
    height: 300px;
    display: flex;
} */
.txt{
    margin: 20px auto;
    padding: 30px;
    box-sizing: border-box;
    border:2px solid #c4ccd7 ;
    width: 100%;
    height: 100%;
}
.txt h3{
    padding-left: 15px;
    font-size: 18px;
    color: #a55d5d;
}
.txt p{
    font-size: 16px;
    color: #6d6c6c;
    padding: 15px;
    line-height: 1.5;
}

.back{
    width: 100%;
    height: 500px;
    background-image: url(pic/about/about-story2.png ); 
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}
.back .title{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.back .title h2{
    display: inline-block;
    padding-top: 30px ;
    margin:0 50px;
}
.story_words{
    width: 90%;
    background-color: rgba(156, 156, 156, 0.65);
    border-radius: 5px;
    padding: 15px;
    margin:30px auto;
    text-align: center;
    box-sizing: border-box;
    /* text-shadow: 0.05em 0.05em 0.05em rgb(245, 245, 245); */
}
.story_words> .title_words{
    color: #ececec;
    font-size: 18px;
    letter-spacing:1.5px;
    line-height: 1.7;
    margin: auto;
}

.tool_item {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 40px;
}
.tool_item .tool_pic img{
    width: 100%;
    vertical-align: top;
}
.tool_item h3{
    font-size: 18px;
    display: inline-block;
    padding: 5px ;
    border: 1.5px dashed #f5b5bb;
    margin: 30px 0;

}

.tool_item p{
    font-size: 16px;
    line-height: 1.5;
    color: rgb(116, 116, 116);
}
section .make{
    margin:0 50px;
    padding-bottom: 40px;
}
.make h3{
    font-size: 20px;
    color: #a55d5d;   
    padding: 10px 35px;
    background-color: rgb(247, 247, 247);
    display: inline-block;
    position: relative;
    bottom: 40px;
}
.make p{
    font-size: 16px;
    color: #6d6c6c;
    padding-top: 10px;
    padding-left: 15px;
}
.house{
    width: 100%;
    margin:40px auto;
    padding: 20px;
    padding-bottom: 40px;
    box-sizing: border-box;
    border: 2px dashed rgb(202, 130, 130);
    border-radius: 30px;
    text-align: center;
}
.house img{
    width: 80%;
    display: block;
    margin: auto;
}
.computer{
    width: 100%;
    margin:40px auto;
    padding: 20px;
    padding-bottom: 40px;
    box-sizing: border-box;
    border: 2px dashed rgb(202, 130, 130);
    border-radius: 30px;
    text-align: center;
}
.computer iframe{
    width: 80%;
    display: block;
    margin: auto;
}
@media screen and (max-width:767px) {
    .computer iframe{
        height: 80%;
    }
}

@media screen and (min-width:768px) {
    .abouthead{
        display: flex;
        align-items: center;
    }
    .headerwords{
        padding-top: 0;
    }
    .talktoyou{
        margin-top: 100px;
    }
    .aboutimg img{
        width: 400px;
        margin: auto;
        border-radius: 20px;
    }
    .aboutimg{
        margin-right: 100px;
    }
    .news{
        display: flex;
        margin-bottom: 50px;   
    }
    .news:nth-child(odd){
        flex-direction: row-reverse;
    }
    .news:nth-child(odd) img{
        flex-direction: row-reverse;
    }
    .txt{
        padding: 50px;
        margin-left: 20px;
        box-sizing: border-box;
    }
    .news:nth-child(odd) .txt{
        margin-right: 20px;
    }
    .back{
        height: 700px;
        background-position: center;
    }
    .story_words{
        width: 600px;
        margin:60px 50px 0;
    }


    .tool{
        width: 960px;
        margin: auto;
    }
    .tool_item{
        /* outline: 1px solid red; */
        display: flex;
        align-items: center;
        padding: 0;
        margin-bottom: 0;
        position: relative;
    }
    .tool_item:before{
        content: '';
        position: absolute;
        width: 1px;
        background-color: rgb(202, 130, 130);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;                
    }
    .tool_item:after{
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: rgb(202, 130, 130);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 50%;  
    }
    .tool_item:nth-child(even){
        flex-direction: row-reverse;
    }
    .tool_item .tool_pic{
        width: 50%;
        box-sizing: border-box;
        padding: 40px 0;
    }
    .tool_item:nth-child(odd) .tool_pic{
        padding-right: 20px;
    }
    .tool_item:nth-child(even) .tool_pic{
        padding-left: 20px;
    }
    
    .tool_item .tool_txt{
        width: 50%;
        box-sizing: border-box;
        padding: 40px 0;
    }
    .tool_item:nth-child(odd) .tool_txt{
        padding-left: 20px;
    }
    .tool_item:nth-child(even) .tool_txt{
        padding-right: 20px;
    }
    .house{
        width: 80%;
    }
    .computer{
        width: 80%;
    }
    .computer iframe{
        height: 350px;
    }
  



}


