.acthead{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    background-color: #fbf4ef;
    display: block;
    align-items: center;
}
.headerwords{
    background-color: #fbf4ef;
    width: 100%;
    max-width: 1200px;
    text-align: center;
    /* margin-left: 32px; */
    padding-top: 100px;
}
h1{
    font-size: 40px;
    color: rgb(202, 130, 130);
}
.en{
    font-family:"Arial";
}
.headfirst{
    font-size: 20px;
    color: rgb(202, 130, 130);
    margin: 10px 0;
}
.talktoyou{
    color:#6d6c6c;
    margin: 30px 0;
    font-size: 18px;
    line-height: 1.5;
}
.actimg{
    width: 100%;
    margin: auto;
    position: relative;
}
.actimg img{
    width: 100%;
    /* border-radius: 20px; */
}

.course{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    background-color: #fbf4ef;
    padding: 20px 0; 
}
.act_class{
    display: block;
    margin: 0 80px;
}
.act_diy{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 15px;
    align-items: center;
}

.act_diy img{
    width: 100%;
    border-radius: 20px;
    box-shadow: black;
    box-shadow: -4px 4px 10px rgba(105, 105, 105, 0.5)
}
.act_diy h4{
    font-size: 18px;
    margin: 25px 0 0;
    color:#946464;
    text-align: center;
}
.act_diy p{
    position: relative;
    font-size: 14px;
    line-height: 1.5;
    margin: 10px;
    padding-bottom:30px ;
    text-align: center;
}
.vendor{
    text-decoration: none;
    color: black;
}
.vendor h4:hover{
    color: rgb(211, 145, 145);
    transform: scale(1.1);
}
.vendor p:hover{
    color: rgb(211, 145, 145);
    transform: scale(1.1);
}
.act_class img:hover {
    transform: scale(1.1);
    box-shadow: -4px 4px 10px rgba(105, 105, 105, 0.5);
}

h2 {
    border-bottom: 5px solid #f5b5bb;
    font-size: 20px;
    padding-bottom: 5px;
    font-family: 'Microsoft JhengHei';
    text-align: center;
    display: inline-block;
    margin-left: 100px;
    margin-top: 20px;
    /* margin-bottom: 20px; */
}
.artists {
    width: 100%;
    max-width: 1200px;
    height: 600px;
    margin: auto;
    background-color: #ffe9d4d7;
    background-image: url(pic/act/artists2.gif);
    background-position-y: 100%;
    background-position-x: 30px;
    background-repeat:no-repeat;
    background-size: 60%;
    /* background-position: center; */
}
.txt{
    text-align: center;
    padding: 30px 0;
    font-size: 18px;
    line-height: 1.5;
    color: #6d6c6c;
}

.buttonall{
    width: 80px;
    height: 25px;
    border: 1px solid rgb(202, 130, 130);
    text-align: center;
    margin:20px auto;
    border-radius: 5px;
}
.buttonall:hover{
    background-color: rgb(238, 202, 148);
    border: 1px solid rgb(238, 202, 148);
    color: rgb(255, 255, 255);
}
.buttongoto:hover{
    color: rgb(255, 255, 255);
}
.buttongoto{
    color: rgb(58, 58, 58);
    font-family: "Arial";
    font-size: 18px;
    text-decoration: none;
}
.exhibition{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    background-color: #fbf4ef; 
    padding: 20px 0; 
    /* display: flex; */
    justify-content: space-around;
}
.exhibition h2{
    margin-bottom: 10px;
 }
 .exhibition .en{
    text-align: center;
    margin-left: 100px;
 }
.exi_content{
    display: block;
    align-items: center;
    margin: auto;
}
.content img{
    width: 300px;
    border-radius: 5%;
}
.content{
    width: 300px;
    margin: 20px auto;
}
.limit{
    display: flex;
    flex-direction: column-reverse;
}
h3 {
    margin: 10px;
    font-size: 16px;
    font-size: large;
    color: #946464;
}
.content p{
    margin: 10px;
    font-size: 16px;
    line-height: 1.5    ;
}

@media screen and (min-width:768px) {
    .acthead{
        display: flex;
    }
    .headerwords{
        padding-top: 0;
    }
    .actimg img{
        width: 400px;
        border-radius: 20px;
    }
    .talktoyou{
        margin-top: 100px;
    }
    .act_class{
        display: flex;
        margin: 0 80px;
    }
    .act_diy{
        width: 400px;
    }
    .txt{
        text-align: center;
        padding: 25px;
        margin: 20px 0 0 400px;
    }
    h2{
       margin-bottom: 20px;  
    }
    .exhibition{
        display: flex;
        justify-content: space-around;
    }
    .exhibition .title{
       text-align: center;
       width: 300px;
       margin: auto;
    }
    .exhibition .title h2{
        font-size: 20px;
        text-align: center;
        margin-left: 0px;
        margin-bottom: 20px;
     }
     .exhibition .en{
        font-size: 20px;
        text-align: center;
        margin-left: 0px;
    
     }
    .exi_content{
        display: flex;
        align-items: center;
        margin-right: 80px;
    }
    .exi_content{
        display: flex;
        align-items: center;
        margin-right: 80px;
    }
    .limit{
        display: block;
    }
    .content{
        width: 300px;
        padding:0 25px;
    }
    @media screen and (min-width:1030px) {
        .artists {
            height: 550px;
            background-image: url(pic/act/artists.gif);
            background-repeat:no-repeat;
            background-size: 80%;
            background-position: center;
            padding-top:10px ;
        }
    }

}