.headerwords{
    background-color: #fbf4ef;
    width: 1200px;
    text-align: center;
    padding-left: 32px;
    margin: auto;
    box-sizing: border-box;
}
h1{
    font-size: 40px;
    color: rgb(202, 130, 130);
}
.headfirst{
    font-size: 20px;
    color: rgb(202, 130, 130);
}

/* --------------------------- */


.page {
    text-align: right;
    color: #93948e;
    background-color: #fbf4ef;
    width: 1200px;
    margin: auto;
}
.prevnext1 {
    margin: 10px;
    font-size: 14px;
    font-family: 'Noto Serif JP', serif;
    color: #93948e;
    text-decoration: none;
    border-radius: 4px;
    padding: 5px 8px;
    transition: all 0.5s;
}

.prevnext2 {
    margin: 10px;
    font-size: 14px;
    font-family: 'Noto Serif JP', serif;
    color: #93948e;
    text-decoration: none;
    border-radius: 4px;
    padding: 5px 8px;
    transition: all 0.5s;
}

.prevnext1:hover {
    color: white;
    background-color: #93948e8e;
}

.prevnext2:hover {
    color: white;
    background-color: #93948e8e;
}
.bakery {
    text-align: center;
    background-color: #fbf4ef;
    width: 1200px;
    margin: auto;
    padding-bottom: 50px;
}
.itempic {
    margin-top: 6px;
    width: 415px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 20px;
    text-align: left;
    font-size: 0;
}

.itempic img{
    display: block;
    position: relative;
    width: 480px;
    margin: 0px;
    margin-top: 80px;
    border-radius: 5%;
    
}
.itemsmallpic{
    display: flex;
}
.itemsmallpic img{
    display: block;
    position: relative;
    width: 30%;
    margin: auto;
    margin-top: 15px;
    border-radius: 10px;
}
.itemwords {
    vertical-align: top;
    text-align: left;
    display: inline-block;
    margin-left: 100px;
    opacity: 0.8;
}

h2 {
    border-left: 10px solid rgb(255, 200, 0);
    margin: 90px 0px 5px -19px;
    font-size: 22px;
    font-family: 'Noto Serif JP', serif;
    padding-left: 5px;
}

h3 {
    margin: 0;
    font-family: 'Arial';
    font-size: 16px;
}

hr {
    margin: 15px 0px;
    color: #909286;
    opacity: 0.7;
}
.price {
    width: 350px;
    margin: 0;
    font-family: 'Arial';
    font-size: 20px;

}

.intro{
    width: 350px;
    font-family: 'Noto Serif JP', serif;
    font-size: 16px;
    line-height: 1.5;
}

.ew {
    font-family: 'Arial';
    font-size: 14px;
}
.buttongoto {
    text-decoration: none;
    cursor: pointer;
    color: white;
    padding: 8px 10px;
    padding-right: 42px;
    background-color: #878d8b;
    border-radius: 5px;
    transition: all 0.6s;
    position: relative;
}
.buttongoto:hover {
    background-color: #d17a90;
}

.buttonall {
    width: 200px;
    margin: 30px 0px 18px 0px;
    font-size: 16px;
    display: inline-block;
    position: relative;

}

.txt{
    background-color: #fbf4ef;
    width: 1200px;
    margin: auto;
    color: #93948e;
    font-family: 'Noto Serif JP', serif;
    font-size: 12px;
    line-height: 2;
    box-sizing: border-box;
    margin-top: -20px;
}
.txt .summary{
    width: 100%;
    padding-left: 170px;
    padding-bottom: 40px;
}
.txt .notice {
    font-family: 'Arial';
    font-size: 12px;
}