.container{
    background-color: #fbf4ef;
}
.banner {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    background-color: #fbf4ef;
    display: flex;
    
    justify-content: space-between;
    position: relative;   
}
.studio_pic{
    opacity: 0.5;
    transition :opacity 5s linear;
}
@media screen and (max-width:767px){
    /* .banner{
        flex-direction: row-reverse;
    } */
    .banner img{
        width: 320px;
        height: 320px; 
        position:absolute;
        top: 80px;
        right: 0px;
        
    }
    .hello {
        width: 80px;
        height: 280px;
        writing-mode: vertical-rl;
        font-size: 14px;
        margin: 100px 0 50px;
    }
    h1{
        font-size: 24px;
        color: #9c9a99;
        font-family: "Arial";
        margin-left: 30px;
        margin-top: 30px;    
    }
    .link-top{
        display:inline-block;
        width: 250px;
        height: 5px;
        border-top: dotted #9c9a99;
        margin:10px 0 10px 20px;
        opacity: 0.5;
    }
    .studio_name{
        font-size: 20px;
        color: #9c9a99;
        margin-left: 30px;
        margin-bottom: 20px;
        font-family:"Microsoft JhengHei";
       
    }
    .arts img{
        width: 180%;
    }
    .arts .artsbox_up img{
        position: relative;
        right: 80px;
    }
    .arts h4{
        font-size: 16px;
    }
    .arts p{
        font-size: 14px;
    }
    .recommended {
        width:80%;
        margin: 20px auto;
    }
    .tag{
        font-size: 12px;
    }
    .tag .good{
        font-size: 14px;
    }
    .item{
        width: 35%;
        left: 60%;
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 5px;
    }
}

.hello {
    
    line-height: 1.5;
    letter-spacing: 5px;
    color: #9c9a99;
    font-family:"Microsoft JhengHei";
    vertical-align: text-bottom;
}
.hello::after{
    content: "|";
    font-size: 20px;
    line-height: 30px;
    animation: blink .75s step-end infinite;
}
@keyframes blink {
    from, to { color: transparent }
    50% { color: rgb(196, 88, 88) }
}


.about{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    background-color: #fbf4ef;
}
.title{
    color:rgb(202, 130, 130);
    font-size: 30px;
    margin: 30px;
    display: flex;
    font-family:"Microsoft JhengHei";
}
h2{
    color:rgb(202, 130, 130);
    font-size: 30px;
    font-weight: bold;
    font-family:"Microsoft JhengHei";
    padding: 20px 10px;
}
h3{
    color:rgb(202, 130, 130);
    font-family: "Arial";
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 3px;
    padding: 20px 0;
}
.about_img{
    display: block;
    background-color: #fff;
    margin-top: 100px;
}
.about img{
    width: 330px;
    height: 313px;
    margin: 20px;
    margin-left: 40px;
    box-sizing: border-box;
    position: relative;
    top: -100px;
    z-index: 1;
}
.about h4{
    font-size: 18px;
    margin: 18px;
    position: relative;
    top: -100px;
    color:rgb(202, 130, 130);
    font-family:"Microsoft JhengHei";
}
.about p{
    position: relative;
    top: -100px;
    font-size: 14px;
    margin: 20px;
    font-family:"Microsoft JhengHei";
    line-height: 1.5;
}

.about_txt{
    margin-top: 20px;
    text-align: center;
}
.arts{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    background-color: #fbf4ef;
    display: block;
    
}
.arts .artsbox_up{
    float:right;
    display: flex;
    background-color: #fff;
    width: 80%;
    margin: 50px auto;
    border-radius: 50px 0 0 50px;
    align-items: center;
    
}
.arts .artsbox_up a{
    text-decoration: none;
}
.arts .artsbox_down a{
    text-decoration: none;
}
.arts .artsbox_up h4:hover{
    color: darkgray;
}
.arts .artsbox_down h4:hover{
    color: darkgray;
}
.arts .artsbox_down{
    display: flex;
    background-color: #fff;
    width: 80%;
    margin: 20px 0;
    margin-top: 90px;
    border-radius: 0 50px 50px 0;
    align-items: center;
    text-align: right;
}
.arts .artsbox_down:nth-child(odd){
    flex-direction: row-reverse;
}
.arts img{
    border-radius: 50%;
    box-shadow: -4px 4px 10px rgba(105, 105, 105, 0.5);
}
.arts img:hover {
    transform: scale(1.1);
    box-shadow: -4px 4px 10px rgba(61, 49, 49, 0.5);
}
.arts h4{
    color:rgb(202, 130, 130);
    padding:10px 20px;
    margin: 30px 20px 0px;
    font-family:"Microsoft JhengHei";
}
.arts h4 .en{
    font-family:"Arial";
}
.arts p{
    line-height: 1.5;
    padding:10px 20px;
    margin: 0 20px 40px;
    font-family:"Microsoft JhengHei";
}

.shop{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px 0;
    box-sizing: border-box;
    text-align:center
}
.shop img{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    width: 100%;
    border-radius: 20px;
    box-shadow: -4px 4px 10px rgba(105, 105, 105, 0.5);
}
.recommended:hover {
    transform: scale(1.1);
    border-radius: 20px;
    box-shadow: -4px 4px 10px rgba(105, 105, 105, 0.5);
}
.recommended {
    display: inline-block;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    top: 30px;
}

.tag{
    line-height: 1.3;
    color:rgb(202, 130, 130);
    border: 1px dashed rgb(202, 130, 130);
    border-radius: 15px;
    padding: 10px;
    background-color: #fff;
    width: 25%;
    /* height: 100px; */
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    left: -20px;
    top:-30px;
}
.tag .good{
    padding: 10px 0;
    color:rgb(202, 130, 130);
}
.item{
    text-align: center;
    align-items: center;
    font-size: 10px;
    line-height: 1.5;
    color: #585858;
    font-family:"Microsoft JhengHei";
    position: absolute;
    bottom: 7%;
    background-color: rgba(255, 255, 255, 0.6);
        border-radius: 5px;
    
}
.products{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    top: 40px;
}
/* .products img{
    width: 240px;
    margin: 30px 12px 0 12px;
    border-radius: 20px;
    position: relative;
    z-index: 2;
} */
/* .products::after{
    content: "";
    width: 100%;
    height: 500px;
    display: block;
    box-sizing: border-box;
    background-color: #ffe9d4d7;
    position: absolute;
    top: -200PX;
    z-index: 1;
} */
.shop .products img:hover {
    transform: scale(1.1);
    box-shadow: -4px 4px 10px rgba(105, 105, 105, 0.5);
}

.owl_before{
    width: 100%;
    margin: 20px;
}
.shop-item{
    max-width: 1200px;
    width: 100%;
    margin: 30px 12px 0 12px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}
.shop-item:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.products img{
    width: 240px;
    border-radius: 20px;
    position: relative;
}
.shop-item img{
    vertical-align: top;
}
.shop-item .products_txt{
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #0008;
    color: #fff;
    /* display: none;
    opacity: 0; */
    transition: 1s;
}
.shop-item:hover .products_txt{
    /* display: block;
    opacity: 1; */
    top: 0;
}
.act{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding-bottom: 30px;
    background-color: #fbf4ef;
}
.act_class{
    display: block;
    margin: 0 80px;
}
.act_diy{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 15px auto;
    align-items: center;
}

.act_diy img{
    width: 100%;
    border-radius: 20px;
    box-shadow: black;
    box-shadow: black;
    box-shadow: -4px 4px 10px rgba(105, 105, 105, 0.5)
}
.act_diy h4{
    font-size: 18px;
    margin: 15px 0 0;
    color:#946464;
    text-align: center;
    font-family:"Microsoft JhengHei";
}
.act_diy p{
    position: relative;
    font-size: 14px;
    font-family:"Microsoft JhengHei";
    line-height: 1.5;
    margin: 10px;
    padding-bottom:30px ;
    text-align: center;
}

.act_content{
    text-decoration: none;
    color: black;
}
.act_content h4:hover{
    color: rgb(211, 145, 145);
    transform: scale(1.1);
}
.act_content p:hover{
    color: rgb(211, 145, 145);
    transform: scale(1.1);
}
.act_class img:hover {
    transform: scale(1.1);
    box-shadow: -4px 4px 10px rgba(105, 105, 105, 0.5);
}




.buttonall{
    width: 80px;
    height: 25px;
    border: 1px solid rgb(202, 130, 130);
    text-align: center;
    margin: auto;
    border-radius: 5px;
    position: relative;
}
.buttonall:hover{
    background-color: rgb(238, 202, 148);
    border: 1px solid rgb(238, 202, 148);
    color: rgb(255, 255, 255);
}
.buttongoto:hover{
    color: rgb(255, 255, 255);
}
.buttongoto{
    color: rgb(58, 58, 58);
    font-family: "Arial";
    font-size: 18px;
    text-decoration: none;
    position: relative;
    top: 4px;
}

.about .buttonall{
    top: -100px;
}
.shop .buttonall{
    margin-top: 80px;
    margin-bottom: 40px;
    position: relative;
    z-index: 2;
}

.arts .buttonall{
    margin-top: 40px;
    margin-bottom: 60px;
}
.act .buttonall{
    margin-top: 20px;
    margin-bottom: 40px;

}
.en{
    font-family:"Arial";
}

@media screen and (min-width:768px) {
    .banner img{
        width: 725px;
        height: 725px;
        margin-top: -30px;
    }
    .hello {
        width: 200px;
        height: 320px;
        font-size: 24px;
        margin: 100px 0;
        margin-left: 150px;
        writing-mode: vertical-rl;

    }
    .hello::after{
        font-size: 24px;
    }
    h1{
        font-size: 40px;
        color: #9c9a99;
        font-family: "Arial";
        margin-left: 150px;
        margin-top: 150px;  
          
    }
    .link-top{
        display:inline-block;
        width: 300px;
        height: 8px;
        border-top: solid #9c9a99;
        margin:10px 0 10px 120px;
    }
    .studio_name{
        font-size: 30px;
        color: #9c9a99;
        margin-left: 160px;
        margin-bottom: 100px; 
        font-family:"Microsoft JhengHei";
    }

    .about_img{
        display: flex;
    }
    .about img{
        width: 430px;
        height: 413px;
        margin: 30px;
    }
    .about_txt{
        margin-top: 200px;
        text-align: left;
    }
    .about p{
        font-size: 16px;
    }
    .arts h4{
        font-size: 18px;
    }
    .arts p{
        font-size: 16px;
    }
    .recommended {
        margin: 30px 0;
    }
    .tag{
        font-size: 18px;
    }
    .tag .good{
        font-size: 20px;
    }
    .owl_before{
        width: 70%;
        margin: 20px;
    }
    .item{
        width: 25%;
        left: 73%;
    }
    .act_class{
        display: flex;
        margin: 0 80px;
    }
    .act_diy{
        width: 300px;
    }
}


